/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
/* Login page css */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #033452;
;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(233, 218, 218, 0.1);
  width: 300px;
  height: auto  ;
}

.form-toggle {
  display: flex;
  justify-content:center;
  margin-top: 20px;
  margin-right: 2px;
}
.form-toggle button {
  width: 50%;
  padding: 10px;
  background-color: #f3f3f3;
  color: #033452;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px 10px 0 0;
}

.form-toggle .active {
  background-color: #033452;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
}



.form h2 {
  margin-bottom: 10px;
  color: #033452;
  text-align: left;
  text-decoration: underline
}

.form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form button {
  padding: 10px;
  background-color:#033452;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

 a {
  color: #1fa2f3;
  text-decoration: none;
  text-align: right;
  margin-inline-start: 150px;
  font-size: 14px;
  font-weight: lighter;
  
}

.form p {
  text-align: start;
  font-size: 14px;
  margin-top: 20px;
  /* margin-inline-start: 40px; */
  color: #033452;
  display: flex-left;
  justify-content:space-between ;
  

} 

.form p a{
  color:#1fa2f3;
  text-decoration: none;
  text-align: left;
    font-size: 14px;
    font-weight: lighter;
  
}


.formBtns{
  background-color: #033452;
  color: white; 
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  height: 35px;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  margin-right: 20px;
  /* margin-bottom: 20px; */
  width: 100%;
  
}
.signup-form{
  background: #f3f3f3;
  color:#033452 ;
  border-radius: 5px;
  padding-top: 2px;
  padding-left: 10px;
  text-align: left;
  text-decoration: underline;
}

input{
  border-radius: 5px;
  background-color: #f3f3f3;
  color: #033452;
  border :none;
  border-bottom: 1px solid #033452;
  width: 95%;
  margin-top: 15px;
  margin-bottom: 20px;
  height: 20px;
  font-size: 16px;  
}